<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <script type="text/javascript" src="../js/vue.js"></script>
  <title>列表过滤</title>
</head>
<body>
<div id="vm">
  <!--遍历数组-->
  <h2>人员列表</h2>
  <label>
    <input type="text" placeholder="请输入名称" v-model="keyWord"/>
  </label>
  <ul>
    <li v-for="p in filterPersons" :key="p.id">{{p.name}}-{{p.age}}-{{p.gender}}</li>
  </ul>
</div>
</body>
<script type="text/javascript">
  new Vue({
    el: '#vm',
    data: {
      keyWord: '',
      persons: [
        {
          id: '1',
          name: '马冬梅',
          age: 18,
          gender: '女'
        }, {
          id: '2',
          name: '周冬雨',
          age: 19,
          gender: '女'
        }, {
          id: '3',
          name: '周杰伦',
          age: 20,
          gender: '男'
        }, {
          id: '4',
          name: '温兆伦',
          age: 20,
          gender: '男'
        }
      ],
      filterPersons: []
    },
    watch: {
      keyWord(val) {
        this.filterPersons = this.persons.filter((p) => {
          return p.name.indexOf(val) !== -1;
        })
      }
    }
  });
</script>
</html>