<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <script type="text/javascript" src="../js/vue.js"></script>
  <title>列表排序</title>
</head>
<body>
<div id="vm">
  <!--遍历数组-->
  <h2>人员列表</h2>
  <label>
    <input type="text" placeholder="请输入名称" v-model="keyWord"/>
  </label>
  <button @click="sort='asc'">年龄降序</button>
  <button @click="sort='desc'">年龄升序</button>
  <button @click="sort='original'">原顺序</button>
  <ul>
    <li v-for="p in filterPersons" :key="p.id">{{p.name}}-{{p.age}}-{{p.gender}}</li>
  </ul>
</div>
</body>
<script type="text/javascript">
  /*计算属性，应该使用这种方式*/
  new Vue({
    el: '#vm',
    data: {
      keyWord: '',
      sort: '',
      persons: [
        {
          id: '1',
          name: '马冬梅',
          age: 18,
          gender: '女'
        }, {
          id: '2',
          name: '周冬雨',
          age: 19,
          gender: '女'
        }, {
          id: '3',
          name: '周杰伦',
          age: 20,
          gender: '男'
        }, {
          id: '4',
          name: '温兆伦',
          age: 20,
          gender: '男'
        }
      ]
    },
    computed: {
      filterPersons() {
        const arr = this.persons.filter((p) => {
          return p.name.indexOf(this.keyWord) !== -1;
        });
        if (this.sort !== 'original') {
          //需要进行排序
          arr.sort((p1, p2) => {
            return this.sort === 'asc' ? p1.age - p2.age : p2.age - p1.age;
          });
        }
        return arr;
      }
    }
  });
</script>
</html>