<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <script type="text/javascript" src="../js/vue.js"></script>
  <title>姓名案例——计算属性</title>
</head>
<body>
<div id="root">
  姓：<label>
  <input type="text" placeholder="请输入姓" v-model="firstname"/>
</label>
  <br><br>
  名：<label>
  <input type="text" placeholder="请输入名" v-model="lastname"/>
</label>
  <br><br>
  姓名：<span>{{fullName}}</span>
</div>
</body>
<script type="text/javascript">
  const vm = new Vue({
    el: '#root',
    data: {
      firstname: '张',
      lastname: '三'
    },
    computed: {
      fullName: {
        // 读取fullName时get被调用，返回值作为fullName的值,底层用的就是Object.defineProperty
        get(vm) {
          /*console.log("get()");
          // 此处的vm是Vue实例，this也是
          console.log(vm);
          console.log(this);*/
          return this.firstname + " - " + this.lastname
        }
      }
    }
  });
</script>
</html>