<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <script type="text/javascript" src="../../js/vue.js"></script>
  <title>收集表单数据</title>
</head>
<body>
<div id="vm">
  <form>
    <!--label 加上 for 可以使得点击文字也能将光标定位在input内-->
    <label for="account">
      账号： <input type="text" id="account" v-model.trim="account"/>
    </label>
    <br>
    密码： <input type="password" v-model="password"/>
    <br>
    年龄： <input type="number" v-model.number="age"/>
    <br>
    性别：
    男 <input type="radio" name="gender" v-model="gender" value="male"/>
    女 <input type="radio" name="gender" v-model="gender" value="female"/>
    <br>
    爱好：
    <!--checkbox如果没有默认的value，Vue会默认收集checked属性-->
    篮球 <input type="checkbox" value="0" v-model="hobby"/>
    台球 <input type="checkbox" value="1" v-model="hobby"/>
    游戏 <input type="checkbox" value="2" v-model="hobby"/>
    <br>
    所属校区：
    <select v-model="city">
      <option value="">请选择校区</option>
      <option value="0">校区一</option>
      <option value="1">校区二</option>
      <option value="2">校区三</option>
    </select>
    <br>
    其他信息：
    <textarea v-model.lazy="other"></textarea>
    <br>
    <input type="checkbox" v-model="agree"/>阅读并接收<a href="https://www.baidu.com">《用户协议》</a>
  </form>
</div>
</body>
<script type="text/javascript">
  new Vue({
    el: '#vm',
    data: {
      account: '',
      password: '',
      age: '',
      gender: 'female',
      /*checkbox 标签的值必须用数组接收 */
      hobby: [],
      city: '',
      other: '',
      agree: false
    }
  });
</script>
</html>